/.vscode
/dev/\!*

#bitrix folder

**/tmp

/bitrix/catalog_export
/bitrix/updates

/upload/*
!/upload
!/upload/.htaccess

/bitrix/wizards
/bitrix/catalog_export
/bitrix/updates*

/bitrix/cache/*
!/bitrix/cache
!/bitrix/cache/.gitkeep

/bitrix/managed_cache/*
!/bitrix/managed_cache
!/bitrix/managed_cache/.gitkeep

/bitrix/stack_cache/*
!/bitrix/stack_cache
!/bitrix/stack_cache/.gitkeep

/bitrix/backup/*
!/bitrix/backup
!/bitrix/backup/index.php

/bitrix/modules/*/install/
!/bitrix/modules/*/install
!/bitrix/modules/*/install/version.php

/mysql_debug.sql

*.txt
*.log
*.css.map

*.zip
*.zip*
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.rar

composer.phar
vendor/