/.vscode
/dev/\!*

#bitrix folder

/upload
/bitrix/wizards
/bitrix/catalog_export
/bitrix/tmp
/bitrix/updates
/bitrix/images


/bitrix/cache/*
!/bitrix/cache
!/bitrix/cache/.gitkeep

/bitrix/managed_cache/*
!/bitrix/managed_cache
!/bitrix/managed_cache/.gitkeep

/bitrix/stack_cache/*
!/bitrix/stack_cache
!/bitrix/stack_cache/.gitkeep

/bitrix/backup/*
!/bitrix/backup
!/bitrix/backup/index.php

/bitrix/modules/*/install/*
!/bitrix/modules/*/install
!/bitrix/modules/*/install/version.php

#media files

# исключаем все текстовые и подобные ресурсы (на нашей практике они всегда излишни)
*.xml
*.html
*.txt
*.log
*.css.map

# архивы, включая многотомные
*.zip
*.zip*
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
.hg
.ftpconfig
*.doc
*.docx
*.pdf
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch

composer.phar
vendor/
